<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>  

<body>
    <nav>
        <!-- Create New Fruit Link Here -->
    </nav>

    <h1>Budgetter</h1>

    <ul>
        <% for (let i = 0; i < allBudgets.length; i++) { %> 
        <li>
            <a href="/budget/<%= i %> "> <%= allBudgets[i].name %> </a>


        </li>
        <% } %>
    </ul>

</body>
</html>